.home{
  font-family: 'Press Start 2P', bold;
  text-transform: uppercase;
  position: relative;
}
.home__position{
  position: absolute;
  left: 25%;
  right: 0;
  top: 35%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  width: 1000px;
}
.home__gradient {
  width: 100%;
  z-index: 1;
  height: max-height;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}.home__width{
  width: 100%;
  z-index: 1;
  height: 100vh;
}
.home__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  color: white;
  transition: 0.2s ease-in-out 0s;
 
  i {
    font-size: 9.125rem;
  }
  &:hover {
    transform: scale(1.05);
    color: #d70000;
  }
  
}.home__start{
  position: absolute;
  top: 0;
  z-index: 2;
 h1{
   color:#fff;
 }
 
  img{
    background-size: cover;
    height: max-height;
   width: 145%;
  }
  .home__position_start{
    position: absolute;
    left: 25%;
    right: 0;
    top: 55%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    width: 1000px;
  }
  
}
