.comments {
  font-family: "Press Start 2P", bold;
  text-transform: uppercase;
  height: calc(100vh - 100px - 300px);
  margin: 3rem;
  margin-bottom: 80px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3{
      margin-top: 10px;
  }

  .comments__user {
    margin: 10px;
  }
  .comment-form-fields {
    display: flex;
    justify-content: space-between;
    width: 80%;
    .comment_item {
      height: 50px;
      margin: 10px;
    }
   
  }
  
}
