.header {
  height: 60px;
  display: flex;
  background-color: #f0f0f0;
  position: relative;
  align-items: center;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.header__logo {
  width: 354px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
  cursor: pointer;
}
.header__menu {
 position: relative;
  margin-right: 20px;
  font-size: 20px;
  color: #D70000;
  cursor: pointer;
}
