.background {
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  position: relative;
}
.bg-scene {
  width: 100%;
  max-width: 1650px;
  z-index: -1;
  position: absolute;
  // transform: translateX(25%);
}
.form-background {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.list_opinion {
  background-color: #ccc;
  padding: 20px;
  width: 600px;
  margin: 30px auto;
}
.opinion {
  background-color: #fefefe;
  padding: 10px;
  margin: 10px;
}
.menu-buttons {
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.option {
}
.menu-center {
  grid-column-start: 2;
  display: flex;
  justify-content: space-around;
}
.muted {
  grid-column-start: 3;
  width: 70px;
  background-color: transparent;
  border: none;
  i {
    color: #fefefe;
    font-size: 70px;
    margin-left: -40px;
  }
  :focus {
    border: none;
  }
  margin-left: auto;
}
