.question {
  position: absolute;
  top: 300px;
  position: absolute;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #fefefe;
  width: 700px;
}
