.nav__content {
  display: flex;
  justify-content: center;
  margin-top: 80px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 490px;
  height: 80px;
  box-shadow: 3px 7px 13px rgb(2, 10, 14), -3px -6px 25px rgb(2, 10, 14);
  background: rgba(155, 155, 155, 0.521);
  z-index: 2;
}
.activity {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
 
}
.tooltip {
  font-size: 8px;
  padding: 12px 18px;
  position: absolute;
  top: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all .4s cubic-bezier(0.68,-0.55,0.265,1.55);

  &::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    border-right: 3px solid #212529;
    border-bottom: 3px solid #212529;
    bottom: -8px;
    left: 50%;
    transform: translateY(35%) rotate(45deg);
  }
}
.nav__btn {
  padding: 15px;
  margin: 0 10px;
  border: none;
  border-radius: 100%;
  background: #8c2022;
  &:focus {
    outline-style: none;
  }
}
.nav__circle {
  font-size: 30px;
  color: #e76e55;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(2.1);
  }
}
.nav__content .activity:hover .tooltip{
    top: -85px;
    opacity: 1;
    pointer-events: auto;
}
